[KEYS]
bot_api = BOT API KEY HERE
[ADMIN]
id = telegram ID
username = telegram username (ex. @hunter_bruhh)
[JENKINS]
on = yes OR no
url = your jenkins url
user = jenkins username
password = jenkins password
token = your secure jenkins token
job = your jenkins job
[GERRIT]
url = gerrit.url.org
user = your username
protocol = http OR https
